/*-------------generales----------------------*/
.window-popup{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-transparent) ;
}
.window-popup{
  display: block;
}
.window-popup__header{
  grid-column: 1 / span 4;
  background-color: var(--blue-light);
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.window-popup__header i{
  font-size: 25px;
  color: var(--red);
  margin: 10px;
  cursor: pointer;
}
.window-popup__header i:hover{
  transform: scale(1.2);
}
.window-popup__header-title{
  font-size: 25px;
  margin: auto;
  color: var(--gray-light);
}

.window-popup__buttons{
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.window-popup__buttons input{
  padding: 10px 20px;
  margin-right: 15px;
  background-color: var(--blue-light);
  border-radius: 7px;
  color: var(--white);
  box-shadow: 0 0 5px var(--black);
  cursor: pointer;
}
.window-popup__buttons input:hover{
  outline: 3px solid var(--blue-strong);
}
/*--------WINDOS POPUP BACKGROUND*/
.window-popup__topic{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: var(--gray-light);
  border-radius: 10px;
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
/*---------WINDOW POPUP DATA*/

.window-big-icon{
  text-align: center;
  font-size: 160px;
}
.window-popup__topic-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 20px;
}
.window-popup__topic-data div{
  height: 70px;
  margin-left: 10px ;
}
.window-popup__topic-data input, .window-popup__topic-data select{
  height: 35px;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: 2px solid var(--blue-strong);
}
