<div class="window-popup__clients">
  <div class="window-popup__header">
    <i class="fa-solid fa-rectangle-xmark"></i>
  </div>
  <h3> Clientes</h3>
  <div class="window-popup__finder">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="clients-window" id="clients-window" autofocus value="" onfocus="this.select()" autocomplete="off">
  </div>
  <div class="window-popup__table">
    <table>
      <tr>
        <th>clave</th>
        <th>Nombre</th>
      </tr>
      <tr>
        <td>CASA<input type="text" id="clients-listener" class="listener" value="1" autocomplete="off" ></td>
        <td>Casa</td>
      </tr>
    </table>
  </div>
  <div class="window-popup__buttons">
    <div>Aceptar</div>
    <div>Cancelar</div>
  </div>
</div>
