.window-popup__new{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 80vw;
  height: 90vh;
  background-color: var(--gray-light);
  border-radius: 10px;
  font-family: var(--font-text);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45px repeat(6, 50px) 1fr 1fr 65px;
  font-size: 20px;
}

.window-popup__new input, .window-popup__new select{
  border-radius: 5px;
}
.window-popup__header{
  grid-column: 1 / span 4;
  background-color: var(--blue-light);
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.window-popup__header i{
  font-size: 25px;
  color: var(--red);
  margin: 10px;
  cursor: pointer;
}
.window-popup__header-title{
  font-size: 25px;
  margin: auto;
  color: var(--gray-light);
}
.window-popup__header-print{
  background-color: var(--gray-light);
  margin: 7px 0px 7px 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 7px var(--black);
  cursor: pointer;

}
.window-popup__new-key{
  grid-column: 1 / span 1;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-key input{
  width: 70%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-name{
  grid-column: 2 / span 3;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-name input{
  width: 70%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-category{
  grid-column: 1 / span 4;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-category select, .window-popup__new-category input{
  width: 30%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-category i{
  font-size: 30px;
  color: var(--green);
  filter: drop-shadow(0 0 2px var(--black));
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.window-popup__new-buy-price{
  grid-column: 1 / span 2;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-buy-price input{
  width: 40%;
  height: 40px;
  padding: 5px;
}

.window-popup__new-prov{
  grid-column: 3 / span 2;
  margin-top: 20px;
}
.window-popup__new-prov select{
  width: 40%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-prov i:nth-child(4){
  font-size: 30px;
  color: var(--green);
  filter: drop-shadow(0 0 2px var(--black));
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.window-popup__new-inven-max{
  grid-column: 1 / span 2;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-inven-max input{
  width: 40%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-inven-min{
  grid-column: 3 / span 2;
  margin: 20px 0px 0px 0px;
}
.window-popup__new-inven-min input{
  width: 40%;
  height: 40px;
  padding: 5px;
}

.window-popup__new-existencias{
  grid-column: 1 / span 2;
  margin: 20px 0px 0px 30px;
}
.window-popup__new-existencias input{
  width: 40%;
  height: 40px;
  padding: 5px;
}
.window-popup__new-modif-price{
  grid-column: 3 / span 2;
  margin: 30px 0px 0px 0px;
}

.window-popup__new-modif-price input{
  display: absolute;
  width: 30px;
  height: 25px;
}


.window-popup__new-profit1{
  grid-column: 1 /span 2;
  grid-row: 8/ span 1;
  margin: 20px 0px 0px 30px;
}

.window-popup__new-profit1 input{
  width: 60%;
  height: 90px;
  padding: 5px;
  margin-left: 20px;
}

.window-popup__new-profit2{
  grid-column: 3 /span 2;
  grid-row: 8/ span 1;
  margin: 20px 0px 0px 30px;
}

.window-popup__new-profit2 input{
  width: 60%;
  height: 90px;
  padding: 5px;
  margin-left: 20px;
}

.window-popup__new-price1 {
  grid-column: 1 /span 2 ;
  grid-row: 9/ span 1;
  margin: 20px 0px 0px 30px;
}

.window-popup__new-price1 input{
  width: 60%;
  height: 90px;
  padding: 5px;
  margin-left: 67px;
}

.window-popup__new-price2 {
  grid-column: 3 /span 2 ;
  grid-row: 9/ span 1;
  margin: 20px 0px 0px 30px;
}

.window-popup__new-price2 input{
  width: 60%;
  height: 90px;
  padding: 5px;
  margin-left: 67px;
}
.window-popup__buttons{
  grid-column: 1 / span 4;
  justify-self: center;
  display: flex;
}
.window-popup__new .window-popup__buttons{
  grid-column: 1 / span 4;
  grid-row: 10 / span 1;
  justify-self: center;
  display: flex;
}
.window-popup__buttons input{
  margin: 10px 70px 0px;
  background-color: var(--blue-light);
  padding: 10px;
  height: 45px;
  width: 150px;
  text-align: center;
  border-radius: 7px;
  color: var(--gray-light);
  box-shadow: 0 0 3px var(--black);
  cursor: pointer;
}
.window-popup__buttons input:hover{
  outline: 3px solid var(--blue-strong);
}


.window-popup{
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-transparent);
  position: absolute;
  transform: translateY(-100vh);
}

i:hover{
  transform: scale(1.2);
}

.inputDisabled{
  color: inherit;
  background-color: var(--white);
}
