<form (submit)="crearProvedor()"  [noValidate]="false">


  <div class="window-popup">
    <div class="window-popup__extra-prov">
      <div class="window-popup__header">
        <div class="window-popup__header-title">
          Detalles Provedor
        </div>
        <i class="fa-solid fa-rectangle-xmark" [routerLink]="['../']"></i>
      </div>
      <div class="window-big-icon">
        <i class="fas fa-people-carry"></i>
      </div>
      <div class="window-popup__extra-data">
        <div class="key-prov">
          <label for="key">Clave: </label>
          <input type="text" name="key" id="key-prov" [(ngModel)]="provedor.codigo" required autocomplete="none">
        </div>
        <div class="name-prov">
          <label for="name">Nombre: </label>
          <input type="text" name="name" id="name-prov" [(ngModel)]="provedor.nombre" required autocomplete="none">
        </div>
        <div class="tel-prov">
          <label for="tel">Telefono: </label>
          <input type="tel" name="tel" id="tel-prov" [(ngModel)]="provedor.telefono" autocomplete="none">
        </div>
        <div class="rfc-prov">
          <label for="rfc">RFC: </label>
          <input type="text" name="rfc" id="rfc-prov" [(ngModel)]="provedor.rfc" autocomplete="none">
        </div>
        <div class="adress-prov">
          <label for="adress">Direccion: </label>
          <input type="text" name="adress" id="adress-prov" [(ngModel)]="provedor.direccion" autocomplete="none">
        </div>
        <div class="email-prov">
          <label for="email">Email: </label>
          <input type="email" name="email" id="email-prov" [(ngModel)]="provedor.email" autocomplete="none">
        </div>
      </div>
      <div class="window-popup__buttons">
        <input type="submit" value="Guardar" role="button" >
        <input type="button" value="Cancelar" [routerLink]="['../']" >
      </div>
    </div>
  </div>

</form>

