<form (submit)="cambiarCantidad()" autocomplete="off" [noValidate]="false">

<div class="window-popup">
    <div class="window-popup__amount">
      <div class="window-popup__header">
        <i class="fa-solid fa-rectangle-xmark" [routerLink]="['../']"></i>
      </div>
      <h3>Cantidad</h3>
      <div class="window-popup__amount-input">
        <input type="number" name="amount-window" id="amount-window" [(ngModel)]="cantidad"  #inputAmount onfocus="this.select()" required (keyup)="eventoKey($event)" step="0.001" autocomplete="off">
      </div>
      <div class="window-popup__buttons">
        <input type="submit" value="Guardar" role="button">
        <input type="button" value="Cancelar" [routerLink]="['../']" >
      </div>
    </div>
  </div>
</form>
